.username-availability-warning {
    margin-top: 10px
}
.btnRegis{
    color: #fff;
    background-color:#1DA57A;
    border-color:#1DA57A;
}

.btnRegis:hover{
    color: #fff;
    background-color:#1DA57A;
    border-color:#1DA57A;
}