body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.justifier {
  padding: 20px;
}

.app-heading {
  text-align: center;
  font-size: 32px;
  margin-top: 30px;
}

.app-heading-tech {
  font-size: 13px;
}

.app-author {
  text-align: center;
  font-size: 20px;
}


body {
  margin:0;
  background: url('./images/template3.jpg');
  background-size:100%;
  background-repeat: no-repeat;

}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  line-height: 60px;
  background-color: #f5f5f5;
}

.content{
  width:unset !important;

}

.container {
  margin-left: 50%;
  text-align: center;
  width: 90%;
  height: auto;
  max-height: 600px;
  max-width: 600px;
  margin-top: 19vh;
  padding-top: 5%;
  padding-bottom: 15%;

}


.containerchat{
  background-color: white;
  width: 95% !important;
  margin: 5vh auto;
}

.overlay {
  heigh: 100% !important;
  width: 100% !important;
  position: absolute;
  z-index: 2;
  text-align: center;
  padding-top: 200px;
}

